<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/mainscreen.css}">
<script src="/js/mainscreen.js"></script>
<title>Hello Spring</title>
</head>
<body>
	<header class="primary-nav">
<div class="menu btn-nav" data-menu="menu-nav" id="demo">
        <div class="icon"></div>
      </div>
</header>

<nav>
<div class="navigation-drawer-off"></div>
</nav>

<div class="testing">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis repudiandae architecto, vitae iste. Esse magni aliquam eaque iusto repellat consequatur necessitatibus, alias hic sed fugit, illo quae quam cum incidunt!
	</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt nihil repudiandae pariatur, soluta fuga corporis, debitis reiciendis, quam possimus, sit dignissimos ipsam quas natus itaque asperiores! Libero, ratione, laboriosam.
	</p>
</div>
</body>
</html>